{% extends "base.html" %}

{% block title %}
Supported languages -
{% end %}

{% block content %}
    <fieldset>
        <legend>
            <h2>Supported languages</h2>
        </legend>
        {% if languages %}
            <ul class="unstyled inline">
                {% for k, v in languages.iteritems() %}
                    <li>
                        <a href="/lang/{{ k }}">{{ v }}</a>
                    </li>
                {% end %}
            </ul>
        {% end %}
    </fieldset>
{% end %}
