<form class="form-horizontal" action="/register" method="post">
    <fieldset>
        <legend>Register</legend>
        <div class="control-group">
            {% raw form.username_reg.label(class_="control-label") %}
            <div class="controls">
                {% raw form.username_reg(placeholder="Email") %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.email_reg.label(class_="control-label") %}
            <div class="controls">
                {% raw form.email_reg(placeholder="Email") %}
            </div>
        </div>
        <div class="control-group">
            {% raw form.password_reg.label(class_="control-label") %}
            <div class="controls">
                {% raw form.password_reg(placeholder="Password") %}
            </div>
        </div>
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">
                    <i class="icon-lock"></i>
                    Register
                </button>
            </div>
        </div>
    </fieldset>
</form>
